<mat-toolbar class="main-header mat-toolbar mat-primary mat-toolbar-single-row" color="primary">
  <button mat-icon-button="" class="mat-icon-button" (click)="toggleSidenav()">
    <span class="mat-button-wrapper">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <div class="branding">
    <div class="logo">{{title}}</div>
  </div>
  <span class="spacer"></span>
  <span *ngIf="amount > 0" class="mat-button-wrapper">
    <mat-icon class="mat-icon material-icons" color="error" role="img" aria-hidden="true">warning</mat-icon>
  </span>
  <span *ngIf="amount > 0">({{amount}})</span>
  <span class="spacer"></span>
  <button mat-button (click)="refresh()">refresh</button>
  <button aria-haspopup="true" class="ml-xs mat-icon-button" mat-icon-button="" [matMenuTriggerFor]="menu">
        <span class="mat-button-wrapper">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
        </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
