<mat-card>
  <mat-paginator 
    [length]="page.metadata.total"
    [pageIndex]="page.paging.index"
    [pageSize]="page.paging.size"
    [pageSizeOptions]="[5, 10, 20]" 
    showFirstLastButtons>
  </mat-paginator>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="read">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.read">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">mail_outline</mat-icon>
        </span>
        <span *ngIf="!element.read">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">email</mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>
  
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Priority </th>
      <td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.priority">
          <mat-icon class="mat-icon material-icons" color="error" role="img" aria-hidden="true">check</mat-icon>
        </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>
  </table>
</mat-card>