<div class="flex flex-column full-height">
  <app-header (toggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container class="flex-item">
    <mat-sidenav #sidenav mode="side" opened="true">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
