.mat-drawer-focus-trap>.cdk-focus-trap-content {
    position: relative
}

mat-sidenav.sidebar-panel>nav {
    min-width: 15rem
}

.mat-sidenav {
    background-color: #ff9800;
}

.mat-list-item .mat-list-item-content {
    display: block;
    height: auto;
    max-height: 48px;
    overflow: hidden;
    padding: 0;
    transition: max-height .3s cubic-bezier(.35,0,.25,1)
}

.mat-list-item {
    height: auto;
    background-color: transparent;
    transition: background-color .3s cubic-bezier(.35,0,.25,1)
}

.mat-list-item.open>.mat-list-item-content {
    max-height: 2000px;
    background: rgba(0,0,0,.04)
}

.mat-nav-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 16px
}

.sub-menu {
    padding-top: 0;
    overflow: hidden;
    transition: .5s max-height cubic-bezier(.35,0,.25,1);
    max-height: 0;
    -webkit-transform: translateZ(0)!important;
    transform: translateZ(0)!important
}

.sub-menu a {
    padding-left: 64px
}

.sub-menu .sub-menu a {
    padding-left: 80px
}

.sub-menu .sub-menu .sub-menu a {
    padding-left: 96px
}

.sub-menu .sub-menu .sub-menu .sub-menu a {
    padding-left: 112px
}

.navigation mat-icon:not(.menu-caret) {
    margin-right: 24px
}

.navigation .menu-caret {
    display: block;
    transition: -webkit-transform .3s cubic-bezier(.7,0,.3,1);
    transition: transform .3s cubic-bezier(.7,0,.3,1);
    transition: transform .3s cubic-bezier(.7,0,.3,1),-webkit-transform .3s cubic-bezier(.7,0,.3,1);
    float: right;
    margin-left: .3125rem;
    text-align: center
}

.navigation .open>.mat-list-item-content>[appAccordionToggle]>.menu-caret {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.navigation .menu-badge {
    display: inline-block;
    height: 16px;
    min-width: 10px;
    line-height: 18px;
    text-align: center;
    border-radius: 16px;
    font-size: 10px;
    font-weight: 700;
    padding: 0 4px
}

.navigation .open>.mat-list-item-content>.sub-menu {
    max-height: 2000px
}
