<mat-nav-list class="navigation mat-nav-list" role="navigation">
  <a mat-list-item class="mat-list-item">
        <div class="mat-list-item-content">
            <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
            <div class="mat-list-text"></div>
            <a class="relative">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">dashboard</mat-icon>
                <span>Dashboard</span>
                <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
            </a>
            
        </div>
      </a>
  <mat-divider></mat-divider>
  <a mat-list-item appaccordionlink="" class="mat-list-item" [routerLink]="messages">
    <div class="mat-list-item-content">
        <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
        <div class="mat-list-text"></div>
        <a appaccordiontoggle="" class="relative">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">people</mat-icon>
            <span>Contacts</span>
            <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
        </a>            
    </div>
    </a>
    <a mat-list-item appaccordionlink="" class="mat-list-item" [routerLink]="messages">
        <div class="mat-list-item-content">
            <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
            <div class="mat-list-text"></div>
            <a appaccordiontoggle="" class="relative">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">credit_card</mat-icon>
                <span>Messages</span><span *ngIf="this.notRead > 0">({{this.notRead}})</span>
                <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
            </a>            
        </div>
    </a>
</mat-nav-list>

