/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();




$app-primary: mat-palette($mat-orange);
$app-accent: mat-palette($mat-deep-orange, 500, 900, A100);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-item {
    flex: 1;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
.full-height {
    height: 100vh;
}

.footer {
    order: 3;
    flex: 0 0 32px;
}

.main {
    width: 100%;
    height: 100%;
}

.justify-center {
    justify-content: center;
}

mat-sidenav {
    width: 200px;
}

.m {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.p {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.mat-drawer-container {
    background-color: #ffffff;
    color: #303030;
}
